/* header.module.css */
.headerContainer {
  background-color: var(--primary-color);
  color: var(--button-text);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.siteName {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.navLink {
  color: var(--button-text);
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover,
.navLinkActive {
  color: var(--background-color);
}

.navLinkActive {
  font-weight: bold;
}
